{
  "pluginSearchDirs": ["./node_modules"],
  "plugins": ["./node_modules/prettier-plugin-organize-imports"],
  "endOfLine": "lf",
  "printWidth": 120,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "useTabs": false,
  "proseWrap": "preserve",
  "arrowParens": "avoid",
  "quoteProps": "as-needed",
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "singleQuote": false
      }
    }
  ]
}